/**{
    background-color: rgb(58, 74, 86);
}*/
body{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}
.card{
    background-color: aliceblue;
    color:rgb(40, 40, 43);
    width: 70ch;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-width: 0.25rem;
    border-style: solid;
    border-color: lightslategrey;
    border-radius: 0.5rem;
}
#weather-info{
    text-align: center;
}
.submitCity{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
th, td{
    border-color: lightslategrey;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 0.2rem;
    padding: 0.3em;
}
.excellent{
    background-color: rgb(0,228,0);
}
.fine{
    background-color: rgb(255,255,0);
}
.moderate{
    background-color: rgb(255,126,0);
}
.poor{
    background-color: rgb(255,0,0);
    color: rgb(237,255,255);
}
.veryPoor{
    background-color: rgb(143,63,151);
    color: rgb(237,255,255);
}
.Severe{
    background-color: rgb(126,0,35);
    color: rgb(237,255,255);
}